:Root{
    --primary--bg:#2F3D46;
    --secondary--bg:#CAD2C5;
    --third--bg:#353535;

}
*{
    margin: 0;
    padding: 0;
   
}
body{
    overflow-x: auto;

}
 
nav{
 display: flex;
justify-content: spa;
 align-items: center;
    background-color: var(--primary--bg);
    padding: 20px;
}
#git{
    text-align: center;
display: flex;
padding-left: 40%;
justify-content: center;
align-items: center;
color: white;
font-size: larger;
font-weight: 400;

}
#lcol{
    margin-top: 60px;
    margin-left: 50px;
padding-bottom: 47%;
margin-bottom: 70px;
padding-right: 300px;
  
    background-color:var(--third--bg);
border-radius: 20px;

}
.colum{
    display: flex;
    flex-direction:row;
    

}
#search{
  
 
 background-color:var(--third--bg);
margin-left: 100px;
margin-top: 60px;
padding-top: 20px;
padding-right: 65px;
width: 450px;
padding-bottom: 19px;
border-radius: 8px;
border-width: 0ch;
font-size: larger;
padding-left: 7px;
color: #6A6A6A;
}

    

.box{
display: flex;

    
}
#colum3{

    background-color: var(--third--bg);
    margin-left: 50px;
    margin-top: 70px;
    padding-bottom: 170px;
    border-radius: 15px;
    
}
#column2{
display: flex;
margin-left: 50px;
background-color:var(--third--bg);
width: auto;
padding-left: 10px;
padding-bottom: 130px;
padding-right: 180px;
margin-top: 60px;
border-radius: 10px;

}
.bg{
    background-color: var(--secondary--bg);
}

.rightcol{
    margin-right: 30px;
}